<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>TrainingCalendarDirectory</display-name>
	<servlet>
		<servlet-name>Jersey</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.training</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>UserUpdateUser</display-name>
		<servlet-name>UserUpdateUser</servlet-name>
		<servlet-class>org.training.controller.UserUpdateUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserUpdateUser</servlet-name>
		<url-pattern>/UserUpdateUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>UpdateUser</display-name>
		<servlet-name>UpdateUser</servlet-name>
		<servlet-class>org.training.controller.UpdateUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/UpdateUser</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>AddUser</display-name>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>org.training.controller.AddUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/AddUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DeleteUser</display-name>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>org.training.controller.DeleteUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>org.training.controller.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetUsers</display-name>
		<servlet-name>GetUsers</servlet-name>
		<servlet-class>org.training.controller.GetUsers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUsers</servlet-name>
		<url-pattern>/GetUsers</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>User</display-name>
		<servlet-name>User</servlet-name>
		<servlet-class>org.training.controller.User</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/User</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>org.training.controller.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EditUserAdmin</display-name>
		<servlet-name>EditUserAdmin</servlet-name>
		<servlet-class>org.training.controller.EditUserAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUserAdmin</servlet-name>
		<url-pattern>/EditUserAdmin</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>EditUser</display-name>
		<servlet-name>EditUser</servlet-name>
		<servlet-class>org.training.controller.EditUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/EditUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DeleteEvent</display-name>
		<servlet-name>DeleteEvent</servlet-name>
		<servlet-class>org.training.controller.DeleteEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteEvent</servlet-name>
		<url-pattern>/DeleteEvent</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AddEvent</display-name>
		<servlet-name>AddEvent</servlet-name>
		<servlet-class>org.training.controller.AddEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEvent</servlet-name>
		<url-pattern>/AddEvent</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EditEvent</display-name>
		<servlet-name>EditEvent</servlet-name>
		<servlet-class>org.training.controller.EditEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditEvent</servlet-name>
		<url-pattern>/EditEvent</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetEvent</display-name>
		<servlet-name>GetEvent</servlet-name>
		<servlet-class>org.training.controller.GetEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetEvent</servlet-name>
		<url-pattern>/GetEvent</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>UpdateEvent</display-name>
		<servlet-name>UpdateEvent</servlet-name>
		<servlet-class>org.training.controller.UpdateEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateEvent</servlet-name>
		<url-pattern>/UpdateEvent</url-pattern>
	</servlet-mapping>
</web-app>